/AddExternalInterfaceToInternalElementRoutine.java
/RemoveCloneRoutine.java
/RemoveCorrespondenceBetweenInterfaceInClassAndPLCopenRoutine.java
/RemoveExternalInterfaceFromInternalElementRoutine.java
/RemovePrototypeFromInternalElementRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
