/AddCorrespondenceBetweenClassAndInstanceRoutine.java
/CopyValuesFromPrototypeToCloneRoutine.java
/RemoveCorrespondenceBetweenClassAndInstanceRoutine.java
/RemoveCorrespondenceBetweenInterfaceInInternalAndPLCopenRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
