/AddExternalInterfaceTypeReaction.java
/CaexplcopenexternalinterfaceChangePropagationSpecification.java
/ChangeExternalInterfacePathReaction.java
/ReactionsExecutor.java
/RemoveExternalInterfaceTypeReaction.java
