/AddSystemClassToInternalElementReaction.java
/CaexplcopeninternalelementChangePropagationSpecification.java
/ReactionsExecutor.java
/RemoveExternalInterfaceFromInternalElementReaction.java
/RemoveSystemClassFromInternalElementReaction.java
